# files to ignore for FunAFL repo

# environment files
.vscode/

# debug files
.gdb_history

# test files
test/test_hello_aflpp
test/test_hello_aflpp.c
test/test_hello_aflpp.sh
test/errors
test/core.*

# custom mutator examples
custom_mutators/examples/

# nyx_mode
nyx_mode/QEMU-Nyx/
nyx_mode/libnyx/
nyx_mode/packer/
libnyx.so

# build results
SanitizerCoverageLTO.so
SanitizerCoveragePCGUARD.so
afl-analyze
afl-c++
afl-c++.8
afl-cc
afl-cc.8
afl-clang
afl-clang++
afl-clang-fast
afl-clang-fast++
afl-clang-fast++.8
afl-clang-fast.8
afl-clang-lto
afl-clang-lto++
afl-clang-lto++.8
afl-clang-lto.8
afl-compiler-rt-64.o
afl-compiler-rt.o
afl-frida-trace.so
afl-fuzz
afl-g++
afl-g++-fast
afl-g++-fast.8
afl-gcc
afl-gcc-cmplog-pass.so
afl-gcc-cmptrs-pass.so
afl-gcc-fast
afl-gcc-fast.8
afl-gcc-pass.so
afl-gotcpu
afl-ld-lto
afl-llvm-dict2file.so
afl-llvm-lto-instrumentlist.so
afl-llvm-pass.so
afl-llvm-rt-lto-64.o
afl-llvm-rt-lto.o
afl-lto
afl-lto++
afl-lto++.8
afl-lto.8
afl-showmap
afl-tmin
cmplog-instructions-pass.so
cmplog-routines-pass.so
cmplog-switches-pass.so
compare-transform-pass.so
injection-pass.so
instrumentation/afl-common.o
instrumentation/afl-llvm-common.o
libAFLDriver.a
libAFLQemuDriver.a
libdislocator.so
libtokencap.so
split-compares-pass.so
split-switches-pass.so
src/afl-common.o
src/afl-forkserver.o
src/afl-performance.o
src/afl-sharedmem.o
utils/afl_network_proxy/afl-network-client
utils/afl_network_proxy/afl-network-server
utils/aflpp_driver/aflpp_driver.o
utils/aflpp_driver/aflpp_qemu_driver.o
utils/aflpp_driver/libAFLDriver.a
utils/aflpp_driver/libAFLQemuDriver.a
utils/argv_fuzzing/argv_fuzz_demo
utils/argv_fuzzing/argv_fuzz_persistent_demo
utils/argv_fuzzing/argvfuzz64.so
utils/libdislocator/libdislocator.so
utils/libtokencap/libtokencap.so
utils/socket_fuzzing/socketfuzz64.so
